DOMAIN=localhost.local
ROOT_URL=""
RUN_MODE=prod
USER_UID=1000
USER_GID=1000
HTTP_PORT=3000
SSH_PORT=22

DB_TYPE=postgres
DB_HOST=db:5432
DB_NAME=gitea
DB_USER=gitea
DB_PASSWD=b588be-a671cc-9e6b14-4e848-479f41ee6
